/*DigiTellus-CSS-StyleSheet*/

header {
	background: rgba(40, 100, 65, 1);
	height: 200px;
	width: 100%;
	text-align: center;
	/*margin: auto;*/
	/*margin-left: 100px;*/

}

header img {
	height: 90%;
	/*height: auto;*/
	 /*max-width: 100%;*/
   	/*position: center;*/
	/*margin-left: 100px;*/
	margin-top: 10px;
	/*margin-left: auto;*/
	/*margin-right: auto;*/
}

#navBar {
	/*text-align: center;*/
	/*background-color: red;*/
	/*width: 100%;*/
	/*display: inline;*/
	/*height: 20px;*/
	/*margin-left: 0px;*/
	/*border:1px solid red;*/
}

#navMenu {
	/*display: table;*/
	/*#position: relative;*/
   /*#top: -50%;*/
    /*margin: 0 auto;*/
    /*width: 100%;*/
    /*border: 1px solid orange;*/
}
ul {
  list-style-type: none;
  margin: 0px;
  /*padding: 0;*/
  text-align: center;
  /*width: 100%;*/
  background-color: rgba(30, 80, 30, 1);
  border:2px solid grey;
  height: auto;
  /*margin-left: 20px;*/
}

li {
  display: inline-block;
  /*float: left;*/
  border: 2px solid grey;
  background: rgba(30, 80, 30, 1);
  margin:auto;
}

li a {
  /*display: block;*/
  /*background-color: blue;*/
  color: #000;
  padding: 1px 10px;
  text-decoration: none;
  margin-top: 10px;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

body {
	background-color: linen;
}
div img {
	width: 30%;
	float: left;
	margin: 1.66%;
	/*height: 200px;*/
	/*height: auto;*/
	max-height: 200px;
	/*border:3px solid Grey;*/

	/*max-height: 300px;*/
}

.centerContent {
	background-color: rgba(255, 255, 255, 1);
	border: 2px solid grey;
	text-align: center;
}